// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much


html{
	background:#297D9E;

}

body{
	max-width:660px;
}
header{
    background:#333;
    margin-right:4px;
    margin-left:4px;
}
#main{
    margin-right:4px;
    margin-left:4px;
    background:#333;
}


#content{
    margin-right:4px;
    margin-left:4px;
    margin-bottom:4px;
}

body > footer{
    margin-right:4px;
    margin-left:4px;
    padding-top:8px;
    padding-bottom:8px;
}


ul {
    list-style:none;
    margin-left:0;
}

ul li:before {
    display:inline-block;
    content:"-";
    width:1em;
    margin-left:-1em;
}